body {
    background: #ffffff;
}
.container {
    border: 5px solid #000000;
    margin: 0 auto;
    width: 700px;
    height: 900px;
    position: relative;
}
.ball {
  position: absolute;
  display: block;
  animation: pilotaY 1.8s linear 2s infinite alternate, pilotaX 4s linear 2s infinite alternate;
}

@keyframes pilotaY {
from { top: 0px; } to { top: 785px; }
}
@keyframes pilotaX {
from { left: 0px; } to { left: 600px; }
}